*

!.vscode/
!.vscode/tasks.json
!bash-commands
!bash-util
!docker/
!docker/server--jitsi-jicofo/
!docker/server--jitsi-jicofo/default.docker
!docker/server--jitsi-jvb/
!docker/server--jitsi-jvb/default.docker
!docker/server--jitsi-prosody/
!docker/server--jitsi-prosody/default.docker
!docker/server--jitsi-web/
!docker/server--jitsi-web/default.docker
!docker-compose/
!docker-compose/server--jitsi/
!docker-compose/server--jitsi/default.docker-compose
!.gitignore
!.gitmodules
!host.env
!LICENCE
!README.md
